header {
    background-image: url('https://drive.google.com/uc?export=view&id=1AO0uC141khtmN6q0VVmELgoj6J7npf1s');
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    margin: auto;
    background-color: hsla(197, 94%, 93%, 0.132);
    font-family: 'Fredoka One';
}

h1 {
    font-size: 60px;
    color: #2d1f08;
    margin-top: 0;
}

#dino-meet-input {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 20px;
    background-color: #99d98c;
    height: 100px;
    width: 100%;
} 

/* h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 6vh;
    width: 100%;
    background-color: hsl(201, 100%, 36%);
    color: #000000;
} */

#add-form {
    text-align: center;
    background-color: hsla(198, 100%, 78%, 0.132);
    /* background-color: hsl(115, 52%, 62%); */
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.add-dino-heading {
    width: 100%;
    vertical-align: center;
    text-align: center;
}

#add-dino-submit{
    display: block;
    margin: auto;
    background: #a98467;
    height: 40px;
    width: 100px;
    border-style: solid;
    border-color: #856750;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-family: 'Fredoka One';
}

.form-heading {
    height: 50px;
    background-color: #6a994e;
}

#dino-form {
    text-align: center;
}


.dinosaurs {
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.dinosaurs input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.dinosaurs label {   
    display: inline-block;
    border: 3px solid hsl(114, 25%, 41%);
    border-radius: 20%;
    background-color: #99d98c;
    height: 150px;
    width: 150px;
    cursor:pointer;
    color: #000000; 
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif, Arial;
    font-size: 16px;
    padding: 20px, 20px;
}

.dinosaurs label:hover{
    background-color: #fefae0;
}

.dinosaurs input[type="radio"]:checked + label {
    background-color: #fefae0;
    border-color: hsl(114, 22%, 44%);
}

.locations {
    margin: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.locations input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.locations label {
    display: inline-block;
    border: 3px solid hsl(114, 25%, 41%);
    border-radius: 20%;
    background-color: #99d98c;
    height: 150px;
    width: 150px;
    cursor:pointer;
    color: #000000; 
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif, Arial;
    font-size: 16px;
    padding: 20px, 20px;
}

.locations label:hover {
    background-color: #fefae0;
}

.locations input[type="radio"]:checked + label {
    background-color: #fefae0;
    border-color: hsl(114, 22%, 44%);
}

#picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#name-container {
    text-align: center;
}

.name-greeting {
    font-size: 50px;
    font-family: 'Fredoka One';
    color: #5c85e6;
}

.final-dino-pic {
    position: absolute;
    width: 400px;
    bottom: 10px;
    transition: transform 1s;
}


/* .dino-pic-translate:hover {
    transform: translate3d(20,20,20)
} */

.dino-pic-shift:hover {
    transform: translateX(200px);
    transform: translateX(-400px);
}

.dino-pic-jump:hover {
    transform: translate(0px, -170px);
}

.dino-pic-large:hover {
    transform: scale(.2, .2);
}

.dino-pic-flip:hover {
    transform: rotate(-360deg);
}

.final-location-pic {
    width: 90vw;
}

/* .flip-element:hover {
    transform: rotate(360deg);
    transition: 2s;
} */


#new-dino-button-holder {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 30px;
}

#new-dino-button {
    background: hsl(115, 52%, 62%);
    height: 60px;
    width: 500px;
    border-style: solid;
}

#new-dino-button:hover {
    background-color: hsl(115, 32%, 47%);
}

a {
    color: black;
    font-size: 25px;
    font-family: 'Fredoka One';
}

#submit-button {
    background: #9cc9dd;
    height: 60px;
    width: 170px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #56add2;
    border-radius: 5px;
    color: black;
    font-size: 25px;
    font-family: 'Fredoka One';
}

#submit-button:hover {
    box-shadow: inset 0 0 0 2em var(--hover);
    background: #75a7bd;
}

footer {
    margin-top: 50px;
    background-image: url('https://drive.google.com/uc?export=view&id=1ckjkdYPIrFnnLX1QOsXVHecpAzongn6W');
    height: 4vh;
}