html * {
    font-family: 'Fredoka One';
}

header {
    background-image: url('https://drive.google.com/uc?export=view&id=1hZPWwxlxLj74iWYOFjkm8cfv18HBQZ6L');
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    margin: auto;
    background-color: hsla(198, 56%, 92%, 0.208);
}

input[type='text'] {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    color: #2d1f08;
    margin-top: 0;
}

#dino-meet-input {
    text-align: center;
    padding-top: 2px;
    background-color: #99d98c;
    height: 100px;
    width: 100%;
    color:#2d1f08;
} 

#add-form {
    text-align: center;
    color:#2d1f08;
    background-color: hsla(198, 100%, 78%, 0.132);
    padding-top: 10px;
    padding-bottom: 30px;
}

.add-dino-heading {
    width: 100%;
    vertical-align: center;
    text-align: center;
}

#add-dino-submit{
    display: block;
    margin: 1rem auto 0;
    background: #a98467;
    height: 40px;
    width: 100px;
    border-style: solid;
    border-color: #856750;
    border-radius: 5px;
    color: #2d1f08;
    font-size: 15px;
    font-family: 'Fredoka One';
    cursor: pointer;
}

#add-dino-submit:hover{
    background-color: #c4b1a3;
}

.form-heading {
   background-color: #9cc9dd;
   display: inline-block;
   width: 67vw;
   height: 100%;
   border-style: solid;
   border-color:#56add2;
   border-width: 2px;
   border-radius: 5px;
   color:#2d1f08;
}

#dino-form {
    text-align: center;
    margin-top: 80px;
}

.dinosaurs {
    margin: 40px 220px 80px 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.dinosaurs input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.dinosaurs label {  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid hsl(114, 25%, 41%);
    border-radius: 20%;
    background-color: #99d98c;
    height: 150px;
    width: 150px;
    cursor:pointer;
    color: #2d1f08;
    text-align: center;
    font-size: 20px;
}

.dinosaurs label:hover{
    background-color: #fefae0;
}

.dinosaurs input[type="radio"]:checked + label {
    background-color: #fefae0;
    border-color: hsl(114, 22%, 44%);
}

.locations {
    margin: 40px 220px 140px 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.locations input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.locations label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid hsl(114, 25%, 41%);
    border-radius: 20%;
    background-color: #99d98c;
    height: 150px;
    width: 150px;
    cursor: pointer;
    color: #2d1f08; 
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.locations label:hover {
    background-color: #fefae0;
}

.locations input[type="radio"]:checked + label {
    background-color: #fefae0;
    border-color: hsl(114, 22%, 44%);
}

#picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#name-container {
    text-align: center;
}

.name-greeting {
    font-size: 50px;
    font-family: 'Fredoka One';
    color: #99d98c; 
}

.final-dino-pic {
    position: absolute;
    width: 400px;
    bottom: 10px;
    transition: transform 1s;
}

.dino-pic-jump:hover {
    transform: translate(0px, -170px);
}

.dino-pic-large:hover {
    transform: scale(.2, .2);
}

.dino-pic-flip:hover {
    transform: rotate(-360deg);
}

.dino-pic-flip-two:hover {
    transform: rotate(360deg);
}

.final-location-pic {
    width: 90vw;
}

#new-dino-button-holder {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 30px;
}

#new-dino-button {
    background: #99d98c;
    height: 60px;
    width: 400px;
    border-style: solid;
    border-radius: 10px;
}

#new-dino-button:hover {
    background-color: #8ccb80;
}

a {
    color: #2d1f08;
    font-size: 25px;
    font-family: 'Fredoka One';
}

#submit-button {
    align-items: center;
    background: #9cc9dd;
    height: 60px;
    width: 170px;
    border-style: solid;
    border-width: 3px;
    border-color: #56add2;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Fredoka One';
    color: #2d1f08;
    cursor: pointer;
}

#submit-button:hover {
    background: #c9e5f2;
}

footer {
    margin-top: 50px;
    background-image: url('https://drive.google.com/uc?export=view&id=1ckjkdYPIrFnnLX1QOsXVHecpAzongn6W');
    height: 10vh;
}